<div class='table-responsive'>
    <table class='table'>
        <thead>
            <th>
                Hljóðklippa 1
            </th>
            <th>
                Hljóðklippa 2
            </th>
            <th>
                Samanburðarhljóðklippa
            </th>
            <th>
                Velja
            </th>
        </thead>
        <tbody>
            {% for p in data['info']['perms'] %}
                <tr>
                    <td rel="tooltip" title="Model: {{data['instances'][p[0]].model_idx}} &#013;Voice: {{data['instances'][p[0]].voice_idx}}  &#013;Ground truth: {{data['instances'][p[0]].is_reference}}">
                        {{data['instances'][p[0]].get_printable_id}}
                        <audio preload="none" id='audio-{{data["instances"][p[0]].custom_recording.id}}' src="{{data['instances'][p[0]].custom_recording.get_download_url()}}" type="audio/wav"></audio>
                        <button type='button' class='btn btn-link btn-sm' onClick="play({{data['instances'][p[0]].custom_recording.id}}, '#playButtonIcon-permutationTable-')">
                            <i id='playButtonIcon-permutationTable-{{data['instances'][p[0]].custom_recording.id}}' class='fa fa-play'></i>
                        </button>
                    </td>
                    <td rel="tooltip" title="Model: {{data['instances'][p[1]].model_idx}} &#013;Voice: {{data['instances'][p[1]].voice_idx}}  &#013;Ground truth: {{data['instances'][p[1]].is_reference}}">
                        {{data['instances'][p[1]].get_printable_id}}
                        <audio preload="none" id="audio-{{data['instances'][p[1]].custom_recording.id}}" src="{{data['instances'][p[1]].custom_recording.get_download_url()}}" type="audio/wav"></audio>
                        <button type='button' class='btn btn-link btn-sm' onClick="play({{data['instances'][p[1]].custom_recording.id, '#playButtonIcon-permutationTable-'}})">
                            <i id='playButtonIcon-permutationTable-{{data["instances"][p[1]].custom_recording.id}}' class='fa fa-play'></i>
                        </button>
                    </td>
                    {% if p | length == 2 %}
                        <td>
                        </td>
                    {% else %}
                        <td rel="tooltip" title="Model: {{data['instances'][p[2]].model_idx}} &#013;Voice: {{data['instances'][p[2]].voice_idx}}  &#013;Ground truth: {{data['instances'][p[2]].is_reference}}">
                            {{data['instances'][p[2]].get_printable_id}}
                            <audio preload="none" id="audio-{{data['instances'][p[2]].custom_recording.id}}" src="{{data['instances'][p[2]].custom_recording.get_download_url()}}" type="audio/wav"></audio>
                            <button type='button' class='btn btn-link btn-sm' onClick="play({{data['instances'][p[2]].custom_recording.id}}, '#playButtonIcon-permutationTable-')">
                                <i id='playButtonIcon-permutationTable-{{data["instances"][p[2]].custom_recording.id}}' class='fa fa-play'></i>
                            </button>
                        </td>
                    {% endif %}
                    <td>
                        {% if p | length == 2 %}
                            
                            {% if abtest.does_tuple_exist(data["instances"][p[0]].id, data["instances"][p[1]].id) %}
                                <button type='button' class='btn btn-sm btn-success'>
                                    {{macros.btn_icon('check-square', 'r')}}
                                    Valið
                                </button>
                            {% else %}
                                <a name='perm-abtest.id-data["instances"][p[0]].id-data["instances"][p[1]].id-None' id='{{url_for("abtest.create_tuple", ab_id=abtest.id, first_id=data["instances"][p[0]].id, second_id=data["instances"][p[1]].id)}}' class='btn btn-primary btn-sm mr-2 mt-2 abtest-permutation-btn'>
                                    {{macros.btn_icon('square', 'r')}}
                                    Velja
                                </a>
                            {% endif %}
                        {% else %}
                            {% if abtest.does_tuple_exist(data["instances"][p[0]].id, data["instances"][p[1]].id, data["instances"][p[2]].id) %}
                                <button type='button' class='btn btn-sm btn-success'>
                                    {{macros.btn_icon('check-square', 'r')}}
                                    Valið
                                </button>
                            {% else %}
                                <a name='perm-abtest.id-data["instances"][p[0]].id-data["instances"][p[1]].id-ref_id=data["instances"][p[2]].id' id='{{url_for("abtest.create_tuple", ab_id=abtest.id, first_id=data["instances"][p[0]].id, second_id=data["instances"][p[1]].id, ref_id=data["instances"][p[2]].id)}}' class='btn btn-primary btn-sm mr-2 mt-2 abtest-permutation-btn'>
                                    {{macros.btn_icon('square', 'r')}}
                                    Velja
                                </a>
                            {% endif %}
                        {% endif %}
                       
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src='{{url_for("main.static", filename="js/listControls.js")}}'></script>

