<div class='table-responsive'>
    <table class='table'>
        <thead>
            <th>

            </th>
            <th>
                Auðkenni setningar
            </th>
            <th>
                Texti
            </th>
            <th>
                Hlutfall valið
            </th>
            <th>
            </th>
        </thead>
        <tbody>
            {% for abtest in abtest_list %}
                <tr>
                    <td>
                        <audio preload="none" id="audio-{{abtest.custom_recording.id}}" src={{abtest.custom_recording.get_download_url()}} type="audio/wav"></audio>
                        <button type='button' class='btn btn-link btn-sm' onClick="play({{abtest.custom_recording.id}}, '#playButtonIcon-allAB-')">
                            <i id='playButtonIcon-allAB-{{abtest.custom_recording.id}}' class='fa fa-play'></i>
                        </button>
                    </td>
                    {% if abtest.custom_recording %}
                        <td><a href={{abtest.get_printable_id}} class=''><code>{{abtest.get_printable_id}}</code></a></td>
                    {% else %}
                        <td>-</td>
                    {% endif %}

                    <td>{{abtest.text}}</td>
                    <td>{{(abtest.ab_ratio * 100) | round | int}}% </td>
                    <td>
                        <button id="deleteButton" name="{{abtest.id}}" onClick="deletebutton(name)" class="btn btn-secondary btn-sm text-danger float-right" type="button" data-toggle='modal', data-target='#deleteModal'>
                            {{macros.btn_icon('trash', 'r')}} Eyða
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src='{{url_for("main.static", filename="js/listControls.js")}}'></script>

