{% extends "_list.jinja" %}
{% block title %}{{abtest.printable_id}}{% endblock %}
{% block total %}{{abtest_list|length}}{% endblock %}

{% block header_content %}
    <p>Þetta próf sýnir {% if not abtest.show_text_in_test %}<span class="text-warning">ekki</span> {% endif %}texta setningar sem hlustað er á</p>
    <div class="float-left text-warning">
        {% if not abtest.number_selected > 0 %}
            {% if abtest_list | length == 0 %}
                <span id="additional-info">Hladdu upp setningum til að búa til AB próf</span>
            {% else %}
                <span id="additional-info">Veldu setningar til að nota í prófinu</span>
            {% endif %}
        {% else %}
            <span class='d-none' id="additional-info">Veldu setningar til að nota í prófinu</span>
        {% endif %}
    </div>
{% endblock %}

{%block buttons %}
    {% if current_user.is_admin() %}
        <button class="btn btn-secondary btn-sm float-right mr-2 mt-2" type="button" data-toggle='modal', data-target='#uploadABModal'>
            {{macros.btn_icon('upload', 'r')}}
            Hlaða upp
        </button>
        <a href='{{url_for("abtest.stream_abtest_zip", id=abtest.id)}}' class='btn btn-primary btn-sm float-right mr-2 mt-2'>
            {{macros.btn_icon('download', 'r')}}
            Sækja upptökur
        </a>
        {% if abtest.number_selected > 0%}
            <a class='btn btn-secondary btn-sm text-success float-right mr-2 mt-2' id='start-button' href='{{url_for("abtest.abtest_test", id=abtest.id, uuid=current_user.uuid)}}'>
                {{macros.btn_icon('play', 'r')}}
                Hefja AB próf
            </a>
        {% else %}
            <a disabled class='btn btn-secondary btn-sm text-success float-right mr-2 disabled mt-2' id='start-button' href='{{url_for("abtest.abtest_test", id=abtest.id, uuid=current_user.uuid)}}'>
                {{macros.btn_icon('play', 'r')}}
                Hefja AB próf
            </a>
        {% endif %}
        {% if abtest.number_selected > 0%}
            <a class='btn btn-secondary btn-sm text-success float-right mr-2 mt-2' id='get-link-button' href='{{url_for("abtest.take_abtest", abtest_uuid=abtest.uuid)}}'>
                {{macros.btn_icon('link', 'r')}}
                Hlekkur á próf
            </a>
        {% else %}
            <a disabled class='btn btn-secondary btn-sm text-success float-right mr-2 mt-2 disabled' id='get-link-button'>
                {{macros.btn_icon('link', 'r')}}
                Hlekkur á próf
            </a>
        {% endif %}
        {% if ratings | length  > 0%}
            <a class='btn btn-secondary btn-sm text-success float-right mt-2 mr-2' href='{{url_for("abtest.abtest_results", id=abtest.id)}}'>
                {{macros.btn_icon('chart-bar', 'r')}}
                Skoða niðurstöður
            </a>
        {% else %}
            <a class='btn btn-secondary btn-sm text-success float-right mt-2 mr-2 disabled'>
                {{macros.btn_icon('chart-bar', 'r')}}
                Skoða niðurstöður
            </a>
        {% endif %}
        <a class='btn btn-secondary btn-sm text-success float-right mt-2 mr-2' href='{{url_for("abtest.abtest_edit_detail", id=abtest.id)}}'>
            {{macros.btn_icon('edit', 'r')}}
            Breyta stillingum
        </a>
    {% endif %}
{% endblock %}

{% block table %}
    {% if sentence_groups | length > 0%}
        <div>
            <div data-toggle="collapse" data-target="#collapse-users" aria-expanded="false" aria-controls="collapse-users" style="cursor: pointer;">
                <h3>Setningar sem til skoðunar</h3>
                <p>Smelltu til að opna</p>
                <p>{{ sentence_groups|length }} setningar</p>
            </div>
            <div class="collapse" id="collapse-users">
                {% with abtest=abtest, sentence_groups=sentence_groups %}
                    {% include 'abtest_sentence_table.jinja'%}
                {% endwith %}
            </div>
        </div>
    {% endif %}

    {% if abtest_tuples | length > 0%}
        <div>
            <div>
                <h3>ABpróf sem til skoðunar</h3>
                <p>Fjöldi samanburða í boði: {{abtest_tuples|length }}</p>
                <p>Fjöldi samanburða valinn: {{n_tuples_selected}}</p>
                <button class="btn btn-secondary btn-sm mr-2 mb-2" type="button" data-toggle='modal', data-target='#createTupleModal'>
                    {{macros.btn_icon('plus', 'r')}}
                    Sjálfval
                </button>
            </div>

            {% with abtest=abtest, abtest_tuples=abtest_tuples, selectAllForm=select_all_forms[0], deselectAllForm=select_all_forms[1] %}
                {% include 'abtest_tuple_table.jinja'%}
            {% endwith %}
        </div>
    {%endif%}

     {% if abtest_list | length > 0%}
        <div>
            <div>
                <h3>Allar hljóðklippur</h3>
                <p>Fjöldi hljóðklippa: {{abtest_list | length}}</p>
            </div>

            {% with abtest=abtest, abtest_list=abtest_list %}
                {% include 'abtest_table.jinja'%}
            {% endwith %}
        </div>
    {% endif %}
{% endblock %}

{% block no_results %}

    {% if abtest_list | length == 0 %}
        {{macros.no_results("Engar setningar í AB prufu",
            "Til að sjá setningar þarf fyrst að hlaða þeim upp.")}}
    {% endif %}
{% endblock %}

{% block modals %}
    <div class="modal fade" id='uploadABModal' tabindex="-1">
        <form method='POST' enctype="multipart/form-data">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Hlaða upp talgervingum fyrir AB próf</h5>
                    <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Athugaðu að hlaða þarf upp <code>.zip</code> skrá sem inniheldur möppu sem heitir <code>audio</code> og skrá sem heitir <code>index.csv</code>.
                        <code>Audio</code> mappan inniheldur allar talgervingarnar á <code>.wav</code> formi og <code>index.tsv</code> tengir auðkenni hverrar MOS-setningar við nafn
                        talgervingarinnar í audio möppunni. <br> <br>
                        Í <code>index.csv</code> eru eftirfarandi dálkar:
                        <li>(Áskilið) Dálkur 1 er nafn upptöku í <code>audio</code> möppunni.</li>
                        <li>(Áskilið) Dálkur 2 er <code>R</code> ef setningin er upptaka en <code>S</code> ef setningin er talgerving.</li>
                        <li>(Áskilið) Dálkur 3 er setningin sjálf. </li>
                        <li>(Valkvætt) Dálkur 4 er númer á rödd, ef sama röddin les margar setningar þá á hún alltaf að bera sama númer hér </li>
                        <li>(Valkvætt) Dálkur 5 er númer á setningu, ef margar raddir lesa sömu setninguna þá þurfa þær allar að bera sama númar hér </li>
                        <li>(Valkvætt) Dálkur 6 er spurning ef það á að bera upp spurningu fyrir notnendur. </li>
                        <br>
                        Sjá sýnidæmi
                    </p>
                    {% with form=abtest_form %}
                        {% include 'forms/_form.jinja' %}
                    {% endwith %}
                </div>
                <div class="modal-footer">
                    <a href='{{url_for("abtest.stream_abtest_index_demo")}}' class='btn btn-primary float-left mr-2'>
                        {{macros.btn_icon('download', 'r')}}
                        Sýnidæmi
                    </a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Loka</button>
                    <button class='btn btn-primary' type='submit'>
                        Klára
                        <span class='ml-1'><i class='fa fa-check'></i></span>
                    </button>

                </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id='createTupleModal' tabindex="-1">
        <form method='POST' enctype="multipart/form-data">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Búa til setningablöndur fyrir AB próf</h5>
                    <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="dropdown my-2">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Hljóðklippa 1
                        </button>
                        <select class="form-select" aria-label="Default select example">
                            {% for ab in abtest_list %}
                                <option>{{ab.id}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="dropdown my-2">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Hljóðklippa 2
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-2">
                            {% for ab in abtest_list %}
                                <a class="dropdown-item" href="#">{{ab.id}}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="dropdown my-2">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton-ref" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Samanburðarhljóðklippa
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-ref">
                            {% for ab in abtest_list %}
                                <a class="dropdown-item" href="#">{{ab.id}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Loka</button>
                    <button class='btn btn-primary' type='submit'>
                        Klára
                        <span class='ml-1'><i class='fa fa-check'></i></span>
                    </button>

                </div>
                </div>
            </div>
        </form>
    </div>

    {% for key, value in sentence_groups.items() %}
        <div class="modal fade " id='sentenceGroupModal-{{key}}' tabindex="-1">
            <form method='POST' enctype="multipart/form-data">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Velja hljóðklippur - {{value['info']['text']}}</h5>
                            <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {% with data=sentence_groups[key] %}
                                {% include 'abtest_permutation_table.jinja'%}
                            {% endwith %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Loka</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>    
    {% endfor %}




     <div class="modal fade" id='deleteModal' tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Þú ert við það að eyða línu!</h5>
                <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Með því að eyða þessari lotu fremur þú alheimssglæp.
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Loka</button>
                <a id='confirmationButton' href='{{url_for("abtest.delete_abtest_instance", id=1)}}' class='btn btn-danger'>
                    Eyða
                    {{macros.btn_icon('trash', 'l')}}
                </a>
            </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id='deleteTupleModal' tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Þú ert við það að eyða línu!</h5>
                <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Með því að eyða þessari línu fremur þú alheimssglæp.
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Loka</button>
                <a id='confirmationButton' href='{{url_for("abtest.delete_abtest_tuple", id=1)}}' class='btn btn-danger'>
                    Eyða
                    {{macros.btn_icon('trash', 'l')}}
                </a>
            </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{super()}}
    <script>
        function deletebutton(id){
            $('#deleteModal #confirmationButton').attr('href', '{{url_for("abtest.delete_abtest_instance", id=1)}}'.replace("1", id));
        }

        function deleteTuplebutton(id){
            $('#deleteTupleModal #confirmationButton').attr('href', '{{url_for("abtest.delete_abtest_tuple", id=1)}}'.replace("1", id));
        }

        $(".abtest-check-button").on('change', function(){
            var id = this.name.split('abtest-')[1];
            updateUI()
            updateAB(this)
        });
        
        $(".abtest-permutation-btn").on('click', function(){
            var info = {'abtest_id': this.name.split('-')[1],
                        'first': this.name.split('-')[2],
                        'second': this.name.split('-')[3],
                        'ref': this.name.split('-')[4],
                        'url': this.id
                            }
            
            updatePermutation(info, this)
        });

        function updateUI(){
            var elements = document.getElementsByClassName("abtest-check-button");
            var ids = []
            var none_checked = true;
            for (var i = 0, len = elements.length; i < len; i++) {
                var array = $( elements[i] ).serializeArray()
                if (!(array === undefined || array.length == 0)) {
                    none_checked = false;
                }
            }
            if(none_checked){
                $("#start-button").addClass( "disabled" );
                $("#additional-info").removeClass( "d-none" );
                $("#get-link-button").addClass( "disabled" );
            }
            else{
                $("#start-button").removeClass( "disabled" );
                $("#additional-info").addClass( "d-none" );
                $("#get-link-button").removeClass( "disabled" );

            }
        }

        function updatePermUI(btn){
            btn.classList.remove("abtest-permutation-btn");
            btn.classList.remove("btn-primary");
            btn.classList.add("btn-success");
            btn.getElementsByClassName("fa")[0].classList.remove('fa-square')
            btn.getElementsByClassName("fa")[0].classList.add('fa-check-square')
        }

        function updateAB(form) {
            var xhr = new XMLHttpRequest();
            xhr.onload = function(e) {
                if(this.readyState === XMLHttpRequest.DONE) {
                    if(xhr.status == '200'){
                        var response = JSON.parse(xhr.responseText);
                        
                    } else{
                        promptError("Villa koma upp:", xhr.responseText, "");
                    }
                }
            }
            let formData = new FormData(form);

            xhr.open("POST", form.action, true);
            xhr.send(formData);
        }

        function updatePermutation(info, btn) {

            var xhr = new XMLHttpRequest();
            xhr.onload = function(e) {
                if(this.readyState === XMLHttpRequest.DONE) {
                    if(xhr.status == '200'){
                        var response = JSON.parse(xhr.responseText);
                        updatePermUI(btn)
                    } else{
                        promptError("Villa koma upp:", xhr.responseText, "");
                    }
                }
            }
            let formData = new FormData();
            formData.append('first', info['first'])
            formData.append('second', info['second'])
            formData.append('ref', info['ref'])
            formData.append('abtest_id', info['abtest_id'])
            
            xhr.open("GET", info['url'], true);
            xhr.send( null );
            //xhr.send(formData);
        }

        $('#files').on('change',function(){
            //get the file name
            var fileName = $(this).val();
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(fileName);
        });

        function play(id, playAudioTag = '#playButtonIcon-'){
            console.log('asdfsadfasdf')
            playButtonIcon = $(playAudioTag+id);
            audio = document.getElementById('audio-'+id);
            if(isPlaying){
                //stop
                isPlaying = false;
                playButtonIcon.removeClass('fa-stop').addClass('fa-play');
                audio.pause();
                audio.currentTime = 0;
                // play the other clip if another id was chosen
                if(id !== currentId){
                    play(id);
                }
            } else{
                //start
                //isPlaying = true;
                currentId = id;
                
                // set listeners
                audio.onplaying = function(){
                    isPlaying = true;
                }
                audio.onpause = function(){
                    isPlaying = false;
                }
                audio.onended = function(){
                    playButtonIcon.removeClass('fa-stop').addClass('fa-play');
                }
                // play audio
                playButtonIcon.removeClass('fa-play').addClass('fa-stop');
                audio.play();
            }
        }
    </script>
{% endblock %}