<table class='table'>
    <thead>
        <th>
            Nafn notanda
        </th>
        <th>
            Fjöldi greininga
        </th>
        <th class="text-center">
            {{macros.btn_icon('trash', 'r')}}
        </th>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td><a href={{user.user.get_url()}}>{{user.user.get_printable_name()}}</a></td>
                <td>{{user.total}}</td>
                <td class="d-flex justify-content-center">
                    <button id="deleteButton" name="{{user.user.id}}" onClick="deleteUserRatingsButton(name)" class="btn btn-secondary btn-sm text-danger float-right" type="button" data-toggle='modal', data-target='#deleteUserRatingsModal'>
                        {{macros.btn_icon('trash', 'r')}} Eyða
                    </button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>