<div class='table-responsive'>
    
    <div class='row mb-3 mt-md-0 mt-n4 mb-5'>
        <div class='col-xl-6 col-md-8 offset-xl-3 offset-md-2 col-12'>
            <p class='text-center'>
                <span class='rounded-pill bg-secondary text-success px-2 py-1 mt-3'>
                    <span id='currentIndexSpan'>0</span>/<span id='totalIndexSpan'>{{sus_list | length}}</span>
                </span>
            </p>
            <div class="progress">
                <div class="progress-bar bg-success" id='tokenProgress' role="progressbar"></div>
            </div>
        </div>
    </div>

    <form id='sus-form' action="{{url_for('sus.post_sus_rating', sus_id=sus.id)}}" method="post">
        <table class='table'>
            <thead>
                <th>

                </th>
                <th>
                    Hlustanir
                </th>
                <th>
                    Texti
                </th>
                <th>
                    Staða
                </th>
            </thead>
            <tbody>
                {% for sus_obj in sus_list %}
                    <tr>
                        <td class="col-md-1">
                            <audio id="audio-{{sus_obj.custom_recording.id}}" src={{sus_obj.custom_recording.get_download_url()}} type="audio/wav"></audio>
                            <button id='play-button-{{sus_obj.custom_recording.id}}' type='button' class='btn btn-link btn-sm' onClick="play({{sus_obj.custom_recording.id}})">
                                <i id='playButtonIcon-{{sus_obj.custom_recording.id}}' class='fa fa-play'></i>
                            </button>
                        </td>
                        <td class="col-md-1">
                            <div class="row pl-4">
                                <div id='num-played-{{sus_obj.custom_recording.id}}'>
                                    0
                                </div>
                                /
                                <div>
                                    {{sus.max_listens}}
                                </div>
                            </div>
                        </td>
                        <td class="col-md-9"><textarea name='{{sus_obj.id}}' class="form-control textarea" id="exampleFormControlTextarea1" rows="1"></textarea></td>
                        
                        <td>     
                            <span class=''>
                                <i id="icon-{{sus_obj.id}}" class='fa fa-square text-warning'></i>
                            </span> 
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="submit"  value="Klára"  id="submit" class="btn btn-primary mb-2"  disabled="disabled">
    </form>
</div>


