<div class='table-responsive'>
    <table class='table'>
        <thead>
            <th>
                Dagsetning
                {{macros.sort_th_a('created_at')}}
            </th>
            <th>
                Auðkenni
                {{macros.sort_th_a('id')}}
            </th>
            <th>
                Spurning
                {{macros.sort_th_a('question')}}
            </th>
        </thead>
        <tbody>
            {% for sus in sus_list %}
                <tr>
                    <td>{{sus.created_at | datetime(format='low')}}</td>
                    <td><a href={{sus.url}}>{{sus.printable_id}}</a></td>
                    <td>{{sus.question|default("-", true)}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>