<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: {{config.COLOR_PALETTE.second}}">
    <a class="navbar-brand" href="{{url_for('main.index')}}">MOSI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
        
        {% if not current_user.is_anonymous and current_user.is_admin() %}
            <li class="nav-item {% if section == 'user' %}active{% endif %}">
                <a class="nav-link" {% if section == 'user' %}style="color: {{config.COLOR_PALETTE.fourth}}"{% endif %} href="{{url_for('user.user_list')}}">Notendur</a>
            </li>
        {% endif %}
        {% if not current_user.is_anonymous and current_user.is_admin() %}
            <li class="nav-item {% if section == 'mos' %}active{% endif %}">
                <a class="nav-link" {% if section == 'mos' %}style="color: {{config.COLOR_PALETTE.fourth}}"{% endif %} href="{{url_for('mos.mos_list')}}">MOS prufur</a>
            </li>
        {% endif %}
        {% if not current_user.is_anonymous and current_user.is_admin() %}
            <li class="nav-item {% if section == 'abtest' %}active{% endif %}">
                <a class="nav-link" {% if section == 'abtest' %}style="color: {{config.COLOR_PALETTE.fourth}}"{% endif %} href="{{url_for('abtest.abtest_list')}}">AB prufur</a>
            </li>
        {% endif %}
        {% if not current_user.is_anonymous %}
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown">
                <span>{{current_user.name}}</span>
                {{macros.btn_icon('user-circle', '')}}
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{url_for('user.user_detail',id=current_user.id)}}">Mín síða</a>
                    <a class="dropdown-item" href="{{url_for('security.logout') }}">Skrá út</a>
                </div>
            </li>
        {% endif %}
        <li class="nav-item dropdown {% if section == 'other' %}active{% endif %}">
            <a class="nav-link {% if section == 'other' %}text-success{% endif %}" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown">
            <span>Annað</span>
            {{macros.btn_icon('info-circle','')}}
            </a>
            <div class="dropdown-menu">
                <div class='dropdown-divider'></div>
                <a class="dropdown-item" href="{{url_for('main.download_manual')}}">Leiðbeiningar</a>
            </div>
        </li>
    </ul>
    </div>
</nav>
